h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: darkred;
    margin-bottom: 40px;
    margin-left: 20px;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  color: darkred;
  margin-bottom: 20px;
  margin-left: 20px;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  color: darkred;
  margin-bottom: 20px;
  margin-left: 20px;
}

h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: darkred;
  margin-bottom: 20px;
  margin-left: 20px;
}

img{
  margin-left:25px;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  margin-left: 25px;
}


.main-list-item {
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
}

ul.li{
    list-style-type: square;
}

ol.li{
  list-style-type: decimal;
}

li{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  margin-top: 13px;
}

a{
font-size: 30px;
}


a:link {
    color: red;
    text-decoration: dotted;
  }
  
a:visited {
    color: red;
    text-decoration: dotted;
  }

a:hover {
    color: gold;
    text-decoration: underline;
  }
  
a:active {
    color: red;
    text-decoration: underline;
  }


.home-link{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-top: 50px;
  }

.home-link-container{
    margin-top: 40px;
    margin-left: 40px;
}

  .bi-layout-text-sidebar-reverse{
    margin-right: 15px;
    font-size: 30px;
  }