h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: darkred;
    margin-bottom: 40px;
    margin-left: 20px;
}

li {
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
}

a{
font-size: 30px;
}


a:link {
    color: red;
    text-decoration: dotted;
  }
  
a:visited {
    color: red;
    text-decoration: dotted;
  }

a:hover {
    color: gold;
    text-decoration: underline;
  }
  
a:active {
    color: red;
    text-decoration: underline;
  }


  .bi-card-checklist{
    margin-right: 15px;
    font-size: 30px;
  }