h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    color: darkred;
    margin-bottom: 40px;
}

li {
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    margin-top: 20px;
}

a:link {
    color: red;
    text-decoration: dotted;
  }
  
a:visited {
    color: red;
    text-decoration: dotted;
  }

a:hover {
    color: gold;
    text-decoration: underline;
  }
  
a:active {
    color: red;
    text-decoration: underline;
  }


  .bi .bi-card-checklist{
    padding-right: 15px;
  }